* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(3, 3, 3);
  color: beige;
}
.nav {
  margin-top: -130px;
  padding-left: 500px;
  height: 62px;
  width: 763px;
  background-color: rgb(38, 39, 36);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  position: fixed;
}
.photo {
  background-image: url("./shararemove.png");
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-size: cover;
  margin-top: 130px;
  margin-left: 780px;
  border: 2px solid white;
  box-shadow: 0 0 10px whitesmoke;
}
h2 {
  font-size: 25px;
  color: orangered;
  text-decoration: none;
  margin-left: -470px;
  margin-top: 20px;
  padding-right: 400px;
}
#dot {
  color: white;
}
#home {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 30px;
}
#home:hover {
  color: rgb(251, 80, 17);
  text-decoration: overline;
}
#about {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 30px;
}
#about:hover {
  color: rgb(251, 80, 17);
  text-decoration: overline;
}
#project {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 30px;
}
#project:hover {
  color: rgb(251, 80, 17);
  text-decoration: overline;
}
#contact {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 30px;
}
#contact:hover {
  color: rgb(251, 80, 17);
  text-decoration: overline;
}
span {
  color: orangered;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#homeblock {
  padding-left: 30px;
}
.content {
  margin-top: -310px;
  font-size: 30px;
  padding-left: 40px;
  color: white;
}
h3 {
  font-size: 37px;
  padding-left: 50px;
}
.aboutme {
  padding-top: 20px;
  color: white;
  padding-left: 50px;
  font-size: 22px;
  line-height: 1.5;
  width: 1180px;
}
.tab-title {
  display: flex;
  margin: 60px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  font-family: Verdana;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(255, 68, 0);
  left: 0;
  position: absolute;
  bottom: -8px;
  transition: 0.4s;
}
.tab-links.active-link::after {
  width: 50%;
}
.skill {
  font-size: 20px;
}
li {
  line-height: 1.5;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.projects {
  padding-top: 40px;
  padding-left: 50px;
  line-height: 1.5;
}
.tej {
  display: none;
}
.block {
  margin-top: 200px;
  width: 813px;
  height: 370px;
  line-height: 2;
  align-content: center;
  padding-left: 450px;
  background-color: rgba(255, 254, 254, 0.735);
  color: black;
  margin-bottom: 80px;
  font-size: 24px;
}
.block i {
  color: orangered;
}
.social-icons i {
  font-size: 30px;
  color: black;
  padding-left: 50px;
  padding-top: 30px;
  margin-bottom: 30px;
}
.icon {
  padding-left: 400px;
}
.resume a {
  padding: 15px;
  font-size: 20px;
  background-color: rgb(255, 68, 0);
  color: white;
  border: orangered;
  border-radius: 5%;
  margin-left: 110px;
  text-decoration: none;
}
.para1 {
  font-size: 25px;
}
.para {
  font-size: 19px;
  width: 1160px;
}
@media only screen and (max-width: 600px) {
  .photo {
    background-image: url("./shararemove.png");
    margin-left: 240px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 40px;
  }
  .nav a {
    display: none;
  }
  #homeblock {
    font-size: 15px;
    margin-left: -40px;
  }
  #hi {
    margin-top: -120px;
    margin-bottom: 12px;
    font-size: 20px;
  }
  .content {
    margin-top: 10px;
  }
  h1 {
    font-size: 25px;
  }
  span{
    font-size: 20px;
  }
  #home {
    display: none;
  }
  #about {
    display: none;
  }
  #project {
    display: none;
  }
  #contact {
    display: none;
  }
  .tej {
    padding-bottom:15px;  
    padding-right:210px;
    padding-left:20px;
    padding-top:15px;
    width:190px;
    background-color: rgb(38, 39, 36);
    font-size: 20px;
    color: orangered;
    display: inline-block;
  }
  h3 {
    font-size: 20px;
    margin-top: -120px;
    padding-left: 25px;
    margin-bottom: -20px;
  }
  .aboutme {
    padding-left: 20px;
    font-size: 15px;
    width: 360px;
    padding-top: 35px;
  }
  .tab-links {
    margin-top: -30px;
    font-size: 16px;
  }
  .skill {
    width: 250px;
    font-size: 15px;
    padding-left: 25px;
    margin-top: -20px;
    height: 260px;
    padding-bottom:30px;
  }
  .para {
    margin-left: -29px;
    font-size: 15px;
    width: 360px;
    margin-top: -15px;
  }
  .para1 {
    margin-left: -30px;
    font-size: 10px;
  }
  .block {
    font-size: 15px;
    width: 125px;
    height: 300px;
    margin-left: -160px;
    margin-top: 100px;
    margin-bottom:30px;
  }
  .contact {
    font-size: 16px;
    font-weight: bolder;
    width: 250px;
    margin-top: 30px;
    margin-left: -230px;
  }
  .social-icons {
    width: 800px;
    font-size: 12px;
    margin-left: -285px;
  }
  .resume a {
    margin-left: -160px;
    font-size: 16px;
    padding: 7px;
  }
  .me {
    margin-top: -20px;
    margin-left: -200px;
    font-size: 20px;
  }
}
